{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SatoshiWatch{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <a href="#" class="fab">☰</a>
    <div class="fab-menu">
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'crypto_list' %}">Crypto List</a>
            <a href="{% url 'watchlist' %}">Watchlist</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div>
    <footer class="footer">
        <p>© 2025 SatoshiWatch. All rights reserved.</p>
        <p>Contact: <a href="mailto:4l3xsanchez@proton.me">4l3xsanchez@proton.me</a></p>
        <p><a href="https://www.linkedin.com/in/alejandrosanchez21/" target="_blank">LinkedIn</a></p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>